.parent {
    width: 324px;
    padding: 0px 16px;
    background-color: rgb(244,244,244);
    position: absolute;
    left: 440px;
    top: 220px;
    border-radius: 10px;
}

body{
background-color: rgb(51,56,60);
}
h4{

text-decoration: underline;

}
span{
color:green ; 
}
a{
color:  rgb(0,70,98);
}


#hi{
color:  rgb(0,70,98);
text-decoration: underline;

}
p{
color:  rgb(32,41,37) ;

}